*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    display: flex;
    justify-content: center;
    margin: 20% 0;
    align-items: center;
    color: white;
}
h1{
    margin: 12px 0;
    font-size: 4rem;
}

.middle{
    font-size: 20px;
    margin:2% 0;
    text-align: center;
}

#clock{
    background-color: rgb(255, 255, 0);
    padding: 2%;
    height: 80px;
    font-size: 4rem;
    font-weight: bold;
    border-radius: 6px;
    color: black;
    text-align: center;
}